version: "3.8"
services:
  anythink-backend-java:
    build: ./backend
    container_name: anythink-backend-java
    command: sh -c "cd backend && /wait-for-it.sh postgres-java:5432 -q -t 60 && ./start.sh"

    environment:
      - PORT=3000
      - GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN=${GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN}
    working_dir: /usr/src
    volumes:
      - ./:/usr/src/
      - /usr/src/backend/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - "postgres-java"

  anythink-frontend-react:
    build: ./frontend
    container_name: anythink-frontend-react
    command: sh -c "cd frontend && yarn install && /wait-for-it.sh anythink-backend-java:3000 -t 120 --strict -- curl --head -X GET --retry 30 --retry-connrefused --retry-delay 1 anythink-backend-java:3000/api/ping && yarn start"
    environment:
      - NODE_ENV=development
      - PORT=3001
      - REACT_APP_BACKEND_URL=${CODESPACE_BACKEND_URL:-http://localhost:3000}
      - WDS_SOCKET_PORT=${CODESPACE_WDS_SOCKET_PORT:-3001}
    working_dir: /usr/src
    volumes:
      - ./:/usr/src/
      - /usr/src/frontend/node_modules
    ports:
      - "3001:3001"
    depends_on:
      - "anythink-backend-java"

  postgres-java:
    container_name: postgres-java
    restart: on-failure
    image: postgres
    logging:
      driver: none
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: anythink-market
    volumes:
      - ~/postgres/data:/data/db
    ports:
      - '5433:5432'

  anythink-ack:
    image: public.ecr.aws/v0a2l7y2/wilco/anythink-ack:latest
    container_name: anythink-ack
    environment:
      - GITHUB_TOKEN=$GITHUB_TOKEN
      - CODESPACE_NAME=$CODESPACE_NAME
    depends_on:
      - "anythink-frontend-react"
